/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
public/basic/images/
public/basic/images/documents/
.env.example
.htaccess
yarn.lock
package-lock.json
composer-lock

public/assets/uploads/*
public/assets/uploads/teams/*
public/assets/uploads/galleries/*
public/assets/uploads/cheffs/*
public/assets/uploads/accommodations/*
public/assets/uploads/accomodations/*
public/assets/uploads/experiences/*
public/assets/uploads/guides/*
public/assets/uploads/meals/*
public/assets/uploads/movies/*
public/assets/uploads/transports/*
public/assets/uploads/trips/*
public/assets/uploads/users/*
public/assets/uploads/visa_consultants/*
public/assets/uploads/documents/*
public/assets/uploads/companies/*
public/assets/uploads/restaurants/*
public/assets/uploads/accommodationrooms/*
public/assets/uploads/undefined/*
error_log
/error_log

/error_log/*
/storage/logs/*